<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fablab Torino</title>
    <meta name="description" content="Fablab Torino">

    <!-- Bootstrap -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fablab.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">

  </head>

  <style type="text/css">
  </style>

  <body>

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top sfondofablab"> 
      <div class="container">
        <div class="row" align="center">
          <a href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/img/logoquadrato-bianco.png">
          </a>
        </div>
      </div>
    </nav>  

    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{content}}
          </div>
        </div>
    </main>    


    <div class="container" align="center">
    <hr>
      <footer>   
        {% include footer.html %}
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </body>
</html>
